body {
  font-family: var(--font-main);
  
}

h1 {
  font-size: var(--fs-h1);
  letter-spacing: var(--ls);
  font-weight: 400;
}

h2 {
  font-size: var(--fs-h2);
  letter-spacing: var(--ls);
  font-weight: 400;
  line-height: 90%;
  text-decoration: none;
  color: black;
}


p {
  font-size: var(--fs-p);
  letter-spacing: var(--ls);
  text-decoration: none;
  color: black;
}

a {
  font-size: 64px;
  letter-spacing: var(--ls);
  line-height: 90%;
  text-decoration: none;
  color: black;
}

a:hover {
  font-size: 64px;
  letter-spacing: var(--ls);
  line-height: 90%;
  text-decoration: none;
  color: rgb(255, 10, 10);
}

#ulik {
  text-decoration-color: brown;
  color: rgb(255, 10, 10);
}

.sylk {
  font-size: 18px;
}

.sylk:hover {
  font-size: 18px;
  color: rgb(255, 10, 10);
}